# Docker
.dockerignore

# Ignore em builds Docker
**/node_modules/
**/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/ENV/
**/.venv
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.git/
**/.gitignore
**/.env
**/.env.local
**/.env.*.local
**/dist/
**/build/
**/.coverage
**/.pytest_cache/
**/.vscode/
**/.idea/
**/*.log
**/*.sqlite3
**/db.sqlite3
**/staticfiles/
**/media/
**/celerybeat-schedule
**/*.md
!README.md
